# Welcome to Jekyll!


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
# Site settings



title: Ndoumbe Sall
email: ndoumbesall221@gmail.com

description: "Portfolio de Ndoumbe Sall – Développeuse web junior."

baseurl: ""
url: ""

github_username: ndoumbesall
linkedin_username: ndoumbe-sall-a99ba9363

theme: minima
plugins:
  - jekyll-feed

header_pages:
  - index.html
  - about/index.md
  - projects.markdown
  - skills.markdown
  - contact/index.md
css: /assets/css/style.css
