<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ "/" | relative_url }}">
      Ndoumbe Sall
    </a>

    <nav class="site-nav">
      <a class="page-link" href="{{ "/" | relative_url }}">Accueil</a>
      <a class="page-link" href="{{ "/about/" | relative_url }}">À propos</a>
      <a class="page-link" href="{{ "/projects/" | relative_url }}">Projets</a>
      <a class="page-link" href="{{ "/skills/" | relative_url }}">Compétences</a>
      <a class="page-link" href="{{ "/contact/" | relative_url }}">Contact</a>
    </nav>
  </div>
</header>

